<div class="main-wrap">
    
    <div class="dice">
        
        <div class="die first one">
            <b class="lt"></b>
            <b class="lm"></b>
            <b class="lb"></b>
            <b class="m"></b>
            <b class="rt"></b>
            <b class="rm"></b>
            <b class="rb"></b>
        </div>
        
        <div class="die two">
            <b class="lt"></b>
            <b class="lm"></b>
            <b class="lb"></b>
            <b class="m"></b>
            <b class="rt"></b>
            <b class="rm"></b>
            <b class="rb"></b>
        </div>
        
        <div class="die three">
            <b class="lt"></b>
            <b class="lm"></b>
            <b class="lb"></b>
            <b class="m"></b>
            <b class="rt"></b>
            <b class="rm"></b>
            <b class="rb"></b>
        </div>
        
        <div class="die four">
            <b class="lt"></b>
            <b class="lm"></b>
            <b class="lb"></b>
            <b class="m"></b>
            <b class="rt"></b>
            <b class="rm"></b>
            <b class="rb"></b>
        </div>
        
        <div class="die five">
            <b class="lt"></b>
            <b class="lm"></b>
            <b class="lb"></b>
            <b class="m"></b>
            <b class="rt"></b>
            <b class="rm"></b>
            <b class="rb"></b>
        </div>
        
        <div class="die six">
            <b class="lt"></b>
            <b class="lm"></b>
            <b class="lb"></b>
            <b class="m"></b>
            <b class="rt"></b>
            <b class="rm"></b>
            <b class="rb"></b>
        </div>
        
    </div>

</div>
