.dice {
    text-align: center;
}
    .die {
        width: 94px;
        height: 94px;
        border: 3px solid #dadada;
        border-radius: 8px;
        float: left;
        margin-left: 30px;
        position: relative;
        background: transparent;
        @include single-transition(all, 0.3s, ease);

        //@include single-transition(background, 0.3s, ease);
        
        &:hover {
            background: #333;
            @include single-transition(background, 0.3s, ease);
        }
        
        &.first {
            margin-left: 0;
        }
        
        b {
            width: 12px;
            height: 12px;
            border-radius: 6px;
            background: #dadada;
            display: block;
            position: absolute;
            top: 20%;
            left: 23%;
            margin-top: -6px;
            margin-left: -6px;
            
            &.lm {
                top: 50%;
            }
            &.lb {
                top: 80%;
            }
            &.m {
                left: 50%;
                top: 50%;
            }
            &.rt {
                left: 77%;
                top: 20%;
            }
            &.rm {
                left: 77%;
                top: 50%;
            }
            &.rb {
                left: 77%;
                top: 80%;
            }
        }
        
        &.one {
            .lt,.lm,.lb,.rt,.rm,.rb { display: none; }
        }
        &.two {
            .lm,.lt,.m,.rm,.rb { display: none; }
        }
        &.three {
            .lm,.lt,.rm,.rb { display: none; }
        }
        &.four {
            .lm,.rm,.m { display: none; }
        }
        &.five {
            .lm,.rm { display: none; }
        }
        &.six {
            .m { display: none; }
        }
    }

.set{
    .die {
        border-width: 2px;
        width: 40px;
        height: 40px;
        margin: 0 6px 0 0;
        
        b {
            width: 4px;
            height: 4px;
            border-radius: 2px;
            margin-top: -2px;
            margin-left: -2px;
        }
    }
}

